<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="products">
        <form action="/admin/add-product" method="POST" class="add-product-form">
            <input type="text" id="product-name" class="product-input" name="product" placeholder="Add Products">
            <button type="submit">Add</button>
        </form>
    </main> 
</body>
</html>