<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="success">
        <h2 style="color: rgb(30, 185, 30);">Contacted successfully.</h2>
        <br>
        <h3>We will get in touch shortly.</h3>
    </main> 
</body>
</html>